* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.step,
.main-title,
main-text {
  font-family: "ヒラギノ角ゴシック";
}
header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.box {
  width: 300px;
  background-color: #eeeeee;
  position: relative;
}

.box:nth-child(1) {
  margin-right: 30px;
}

.box:nth-child(2) {
  margin-right: 30px;
}

.step {
  width: 50px;
  height: 30px;
  background-color: #ff9a4b;
  color: white;
  font-size: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main-img1 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.main-img2 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.main-img3 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.main-title {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 20px;
}

.main-text {
  margin: 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
  }

  .box {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
  }

  .box:nth-child(1) {
    margin-bottom: 20px;
  }

  .box:nth-child(2) {
    margin-bottom: 20px;
  }

  .box:nth-child(3) {
    margin-bottom: 0;
  }

  .main-img1 {
    width: 94%;
    margin: 3% 3% 0 3%;
    background-size: cover; 
  }

  .main-img2 {
    width: 94%;
    margin: 3% 3% 0 3%;
    background-size: cover; 
  }

  .main-img3 {
    width: 94%;
    margin: 3% 3% 0 3%;
    background-size: cover; 
  }

}
