* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.box {
  width: 300px;
  background-color: #eeeeee;
}

.box:nth-child(1) {
  margin-right: 30px;
}

.box:nth-child(2) {
  margin-right: 30px;
}

.step {
  width: 50px;
  height: 30px;
  background-color: #ff9a4b;
  color: white;
  font-size: 100%;
  position: absolute;
}

.main-img1 {
  margin: 10px;
  width: 280px;
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.main-img2 {
  margin: 10px;
  width: 280px;
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.main-img3 {
  margin: 10px;
  width: 280px;
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.main-title {
  margin: 5px;
  font-size: 15px;
}

.main-text {
  margin: 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}
